.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading, .heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Nunito", sans-serif;
  font-weight: 600; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--dark {
    color: #54483A; }

.heading-4 {
  font-size: 1.8rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer; }
  .btn:hover {
    background-color: #B28451;
    transition: all .3s; }

.sidebar {
  background-color: #4a5fd8;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1; }

.header {
  background-color: green;
  grid-column: full-start/col-end 6; }

.realtors {
  background-color: hotpink;
  grid-column: col-start 7/full-end; }

.features {
  grid-column: center-start / center-end;
  padding: 15rem 10rem 0 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1rem;
  column-gap: 1rem; }
  .feature__icon {
    height: 5.5rem;
    width: 5.5rem;
    fill: #54483A;
    grid-row: 1/span 2; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
.story__img--2 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4); }
.story__img--1 {
  width: 110%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
.story__content {
  grid-column: col-start 5/full-end;
  padding: 6rem 6vw;
  display: grid;
  align-content: center;
  justify-items: flex-start; }
.story__text {
  font-size: 1.5rem;
  font-style: italic; }

.beaches {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem; }
  .beaches .beach {
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem; }
    .beaches .beach__img {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/2;
      z-index: 2; }
    .beaches .beach__like {
      grid-row: 1/2;
      grid-column: 2/3;
      width: 3rem;
      height: 3rem;
      fill: red;
      z-index: 4;
      justify-self: end;
      margin-right: 1rem;
      margin-top: 1rem; }
    .beaches .beach__name {
      width: 80%;
      justify-self: center;
      align-self: end;
      grid-column: 1/-1;
      grid-row: 1/2;
      z-index: 20;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      background-color: #101d2c;
      color: white;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 1.25rem;
      transform: translateY(50%); }
    .beaches .beach__price {
      grid-column: 1/-1;
      align-items: center;
      justify-content: center; }
    .beaches .beach p {
      font-size: 1.6rem; }
    .beaches .beach__location, .beaches .beach__area, .beaches .beach__price {
      display: flex;
      align-items: center;
      justify-content: center; }
      .beaches .beach__location svg, .beaches .beach__area svg, .beaches .beach__price svg {
        fill: #830000;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem; }
    .beaches .beach_btn {
      grid-column: 1/-1; }

.gallery {
  background-color: maroon;
  grid-column: full-start/full-end; }

.footer {
  background-color: lime;
  grid-column: full-start/full-end; }

/*# sourceMappingURL=styles.css.map */
