.features {

    grid-column: center-start/center-end;

    padding: 15rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature {

    &__icon {
        height: 7.5rem;
        width: 7.5rem;
        fill: $color-primary;
    }

    &__text {
        font-size: 1.7rem;
    }


}