.features {

    grid-column: center-start/center-end;

    padding: 15rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;


    &__icon {
        height: 7.5rem;
        width: 7.5rem;
        fill: $color-grey-dark-1;
    }

    &__text {
        font-size: 1.7rem;
        color: red;
    }


}