.footer {
  background-color:
    rgb(
      31,
      3,
      75
    );
  grid-column: full-start/full-end;
  padding: 8rem 8rem 1rem 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.5rem;
    color: aliceblue;
    text-decoration: none;
    font-family: $primary-font;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color:
      rgb(
        4,
        4,
        65
      );
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  padding-top: 4rem;
}
